h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 1.2em;
}

a {
    color: #007BFF;
    text-decoration: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
